body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-wrapper {
  width: 100vw; /* 뷰포트 너비에 맞춤 */
  height: 90vh; /* 뷰포트 높이에 맞춤 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  max-width: 350px;  /* 컨테이너 최대 너비 설정 */
  max-height: 750px; /* 컨테이너 최대 높이 설정 */
  width: 100%; /* 너비를 화면에 맞춤 */
  height: 100%; /* 높이를 화면에 맞춤 */
  text-align: left;
  padding: 20px;  /* 패딩 유지 */
  /*background-color: #FFFFFF;*/
  background: linear-gradient(to bottom, #ffffff, #d6deee) ; /* 위아래로 그라데이션 배경색 설정 */
  border: 1px solid #ccc;
  border-radius: 15px;
  border: 1px lightsteelblue; /* 테두리 추가 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: auto; /* 중앙 정렬 */
}

.date {
  font-size: 25px;
  color: #3f3e3e;
  font-weight: bold;
  margin-top: 10px;  /* 상단 여백 설정 */
  margin-bottom: 25px;
}

/* 주간 컨테이너 스타일 설정 */
.week-container {
  text-align: center; /* 텍스트 중앙 정렬 */
  margin-bottom: 25px; /* 하단 여백 설정 */
}

.days-row, .dates-row {
  display: grid; /* 그리드 레이아웃 사용 */
  grid-template-columns: repeat(7, 1fr); /* 7개의 동일한 너비의 열로 설정 */
}

.days-row .day, .dates-row .date-item {
  padding: 5px 0;
  color: black; /* 글자 색상 설정 */
  border-radius: 50%; /* 동그란 모양 설정 */
}

.dates-row .date-item.highlight {
  background: linear-gradient(to bottom, #3B5998, #4d7eec); /* 위아래로 그라데이션 배경색 설정 */
  font-weight: bold; /* 글꼴 두께 설정 */
  color: white; /* 글자 색상 설정 */
  border-radius: 50%; /* 동그란 모양 설정 */
  padding: 5px 0px; /* 세로로 길게 여백 추가 */
  margin: 0 5px; /* 좌우 여백 */
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* 버튼 스타일 설정 */
.create-room-button, .invite-code-button {
  padding: 15px 15px; /* 내부 여백 설정 */
  font-size: 16px; /* 글꼴 크기 설정 */
  background: #3B5998;
  color: white; /* 글자 색상 설정 */
  border: none; /* 테두리 없음 */
  border-radius: 40px; /* 모서리 둥글게 */
  cursor: pointer; /* 마우스 커서 포인터로 변경 */
  flex: 1; /* 동일한 플렉스 비율 */
  margin: 0 27px; /* 좌우 여백 설정 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 설정 */
}

/* 팀 컨테이너 스타일 설정 */
.my-team-container {
  margin-bottom: 2px; /* 하단 여백 설정 */
  height: 550px; /* 세로 크기 설정 */
  color: #3f3e3e;
  background-color: #f4f4f4; /* 배경색 설정 */
  padding: 20px; /* 내부 여백 설정 */
  border-radius: 10px; /* 모서리 둥글게 설정 */
  /* 상하좌우 그림자 설정 */
  box-shadow: 0px 4px 8px rgba(130, 128, 137, 0.2),
  0px -4px 8px rgba(130, 128, 137, 0.2),
  4px 0px 8px rgba(130, 128, 137, 0.2),
  -4px 0px 8px rgba(130, 128, 137, 0.2);
}

.my-team-container h2 {
  margin: 0; /* 마진 제거 */
  font-size: 20px; /* 글꼴 크기 설정 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
}
.team-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.team-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: white;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  border-bottom: 1px solid #ccc; /* 구분선 추가 */
}

.team-button:hover {
  background-color: #f0f0f0; /* 호버 효과 */
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 350px;
  border-radius: 10px;
}

.popup-content input {
  width: calc(100% - 40px);
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 팀 생성 버튼/확인 버튼 스타일 설정 */
.create-team-button, .confirm-button {
  width: calc(100% - 20px); /* 너비 조정, 좌우 여백 포함 */
  padding: 15px; /* 내부 여백 설정 */
  display: flex; /* 플렉스 박스 레이아웃 사용 */
  justify-content: center; /* 수평 중앙 정렬 */
  background: linear-gradient(45deg, #6a5acd, #748bff); /* 그라데이션 배경 설정 */
  color: white; /* 글자 색상 설정 */
  border: none; /* 테두리 없음 */
  border-radius: 30px; /* 모서리 둥글게 */
  cursor: pointer; /* 마우스 커서 포인터로 변경 */
  margin: 10px auto; /* 중앙 정렬 및 상하 여백 설정 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 설정 */
}

#invite-error-msg {
  margin-top: 10px;
  color: red;
}