body {
    font-family: 'Roboto', sans-serif;
    background-color: #3B5998; /* Pastel navy blue background */
    margin: 0;
    padding: 0;
    color: #ecf0f1; /* Light text color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.findPasswordForm {
    background-color: transparent; /* Transparent background */
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    animation: fadeIn 2s ease-in-out;
    text-align: center; /* Center align the text */
}

.findPasswordForm h2 {
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: #ecf0f1; /* Light text color */
    font-size: 2rem;
}

.findPasswordForm .form-group {
    margin-bottom: 1rem;
}

.findPasswordForm label {
    display: block;
    font-size: 1rem;
    color: #bdc3c7; /* Lighter text color for label */
    margin-bottom: 0.5rem;
}

.findPasswordForm input[type="email"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #ecf0f1; /* Light background for input fields */
    color: #2c3e50; /* Dark text color for contrast */
}

.findPasswordForm button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #2980b9; /* Blue button color */
    color: #ffffff; /* White text color */
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.findPasswordForm button[type="submit"]:hover {
    background-color: #1f618d; /* Darker blue on hover */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
