/* styles.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #000;
    padding: 10px;
    padding-bottom: 20px;
    text-align: left;
    height: 15px;
    align-items: center; /* 수직 중앙 정렬 */
}

.logo {
    height: 25px; /* 로고의 크기에 맞게 조절하세요 */
    width: auto;
}

/* styles.css */
.contents {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

h2 {
    color: #000;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
    width: 300px;
    text-align: left;
    position: relative;
}

label {
    display: block;
    color: #1C1C1C;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    background-color: #F1F1F1;
    color: #919295;
}

.find-password {
    display: block;
    text-align: right;
    color: #3182f6;
    margin-top: 5px;
    font-size: 14px;
    text-decoration: none;
}

.find-password:hover {
    text-decoration: underline;
}

.find-id-btn {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #3182F6;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 60px;
}

.find-id-btn:hover {
    background-color: #256ad8;
}


/* Footer 스타일 */
footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.footer-logo {
    width: 150px;
    margin-bottom: 10px;
}

footer p {
    margin: 5px 0;
    color: #ACACAC;
    font-size: 15px;
    line-height: 2;
}