body {
  font-family: 'Noto Sans KR', Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%; /* 너비를 비율로 조정 */
  height: 100%;
  border-right: 1px solid #ccc;
}

.scheduler {
  flex-grow: 1;
  height: 100%;
}

.chat, .scheduler {
  border: none;
}


button:hover {
  background-color: #f2f2f2; /* 마우스 오버 시 버튼 배경 색상을 연한 회색으로 변경 */
}

button:hover {
  background-color: #f2f2f2; /* 마우스 오버 시 버튼 배경 색상을 연한 회색으로 변경 */
}

/*마이페이지 버튼*/
.mypage-button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 25px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.mypage {
  margin-top: 20px;
  padding: 10px 20px;
  position: fixed;
  right: 20px;
  bottom: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');






