/* mypage.css */

/* Global styles */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #ecf0f1; /* Light text color */
  font-size: 16px; /* 기본 글씨 크기를 키움 */
}

body {
  background-color: #3B5998; /* Pastel navy blue background */
  margin: 0;
  padding: 0;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 2rem;
}

h2 {
  font-size: 3rem;
  color: #ecf0f1; /* Light text color */
  margin-bottom: 1rem;
  font-weight: 700;
}

.field {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1.5rem;
  text-align: left;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: #ecf0f1; /* Light background for input fields */
  color: #2c3e50; /* Dark text color for contrast */
}

.intro {
  font-size: 1.5rem;
  color: #bdc3c7; /* Lighter text color for paragraph */
  margin-bottom: 2rem;
  line-height: 1.6;
  white-space: pre-line; /* To preserve line breaks */
  text-align: center;
}

button {
  padding: 0.75rem 1rem; /* 버튼 패딩 조정 */
  font-size: 1rem; /* 버튼 글씨 크기를 조정 */
  background-color: #2980b9; /* Blue button color */
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  font-weight: 700;
}

button:hover {
  background-color: #1f618d; /* Darker blue on hover */
}

.save-changes-button, .sign-out {
  width: auto; /* Edit 버튼과 동일하게 width 조정 */
}

.save-changes-button {
  background-color: #2980b9; /* Blue button color */
}

.save-changes-button:hover {
  background-color: #1f618d; /* Darker blue on hover */
}

.sign-out {
  background-color: #2980b9; /* Blue button color */
}

.sign-out:hover {
  background-color: #1f618d; /* Darker blue on hover */
}

.link-button {
  width: auto;
  height: auto;
  font-size: 1rem;
  background: none;
  color: #2980b9; /* Blue text color for link */
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.link-button:hover {
  text-decoration: underline;
}
