/* styles.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #000;
    padding: 10px;
    padding-bottom: 20px;
    text-align: left;
    height: 15px;
    align-items: center; /* 수직 중앙 정렬 */
}

.logo {
    height: 25px; /* 로고의 크기에 맞게 조절하세요 */
    width: auto;
}

.contents {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
}

h2 {
    color: #000;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
    width: 300px;
}

label {
    display: block;
    color: #1C1C1C;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    background-color: #F1F1F1;
    color: #919295;
}

.dob-fields {
    display: flex;
    justify-content: space-between;
}

select {
    width: 30%;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    background-color: #F1F1F1;
    color: #919295;
}

.signup-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #5C6069;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.signup-btn:hover {
    background-color: #4A4D54;
}

/* 추가적인 하단 스타일링 */
.additional-section {
    text-align: center;
    margin-top: 20px;
}

.existing-account {
    color: #919295;
    margin-bottom: 15px;
}

.login-link {
    color: #1c1c1c;
    text-decoration: none;
    font-weight: bold;
}

.login-link:hover {
    text-decoration: underline;
}

.quick-signup {
    color: #1c1c1c;
    font-weight: bold;
    margin: 10px 0;
    margin-top: 80px;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 35px; /* 버튼 사이 간격 */
    margin: 10px 0;
    margin-top: 30px;
    margin-bottom: 50px;
}

.social-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.kakao {
    background-color: #FEE500;
}

.naver {
    background-color: #03C75A;
}

.google {
    background-color: #ffffff;
    border: 1px solid #000000; /* 구글 버튼의 테두리 색상 */
}


/* Footer 스타일 */
footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.footer-logo {
    width: 150px;
    margin-bottom: 10px;
}

footer p {
    margin: 5px 0;
    color: #ACACAC;
    font-size: 15px;
    line-height: 2;
}
