<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>채팅방</title>
    <script>
        function getTeamNameFromURL(){
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('team');
        }
        function displayTeamName() {
            const teamName = getTeamNameFromURL();
            if (teamName) {
                document.getElementById('team-name').textContent = teamName;
            }
        }
        window.onload=displayTeamName;
    </script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <p id="team-name"></p>
    <div id="main-content">
        <form id="chat-form">
            <div class = "send-area">
                <label>내용</label>
                <input type = "text" id="message" placeholder="메시지 내용">

                <button id="send" type="submit" class="btn btn-4">전송</button>
            </div>
        </form>
    </div>
</body>
<script th:inline="javascript">
    // WebSocket 연결을 관리하는 클라이언트
    let stompClient = null;

    // 웹 소켓 연결 생성
    function connect() {
        var socket = new SockJS('/ws/chat');
        stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            //loadChat(chatList); // 저장된 채팅 불러오기

            // 구독 설정
            stompClient.subscribe('/room/' + chatBoxId, function (chatMessage) {
                console.log(JSON.parse(chatMessage.body));
                showChat(JSON.parse(chatMessage.body));
            });
        });
    }

    // 스크롤 항상 아래로 유지
    function scrollChatToBottom() {
        let chatContainer = document.getElementById('chatting');
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }

    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        console.log("Disconnected");
    }
</html>