<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon">
</head>
    <body>
        <header>
            <img src="/static/assets/timeflow_icon_mini_white.png" alt="Logo" class="logo">
        </header>
        <div class="contents">
            <div class="right-section">
                <h2>Sign In</h2>
                <form id="loginForm">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit">로그인</button>
                    <div class="links">
                        <a href="#">아이디 찾기</a>
                        <div class="divider"></div>
                        <a href="#">비밀번호 찾기</a>
                    </div>
                </form>
            </div>
            <div class="separator">
                <div class="separator-line"></div>
                <div class="separator-content">OR</div>
            </div>
            <div class="left-section">
            <h2>Social Login</h2>
            <div class="social-buttons">
                <button class="kakao">Kakao</button>
                <button class="naver">Naver</button>
                <button class="google">Google</button>
            </div>
        </div>
        </div>
        <footer>
            <img src="/static/assets/timeflow_icon_white.png" alt="사이트 로고" class="footer-logo">
            <p>
                대표 : 김여정&김우희 | 주소 : 광주광역시 동구 조선대5길 65 IT융합대학 <br>
                사업자등록번호 : 그런거 없졍
            </p>
            <p>
                개인정보 처리방침 | 이용약관 | 사업자 정보 확인
            </p>
        </footer>
    <script src="script.js"></script>
    </body>
</html>
