<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <title>로그인</title>
</head>
<body>
<div class="container">
    <h2>TIMEFLOW</h2>
    <form th:action="@{/login}" method="post">
        <div class="login_input">
            <!-- 사용자 이름 필드 -->
            <input type="text" name="userMail" placeholder="ID">
            <!-- 비밀번호 필드 -->
            <input type="password" name="userPassword" placeholder="PASSWORD">
        </div>
        <div th:if="${param.error}">
            <p class="error">로그인에 실패했습니다. 이메일과 비밀번호를 확인해 주세요.</p>
        </div>
        <div class="submit_button">
            <input type="submit" value="Login">
        </div>
    </form>
    <div class="links" style="display: flex; justify-content: space-around;">
        <a href="/user/signup">회원가입</a>
        <a href="/user/findId">ID 찾기</a>
        <a href="/user/findPassword">비밀번호 찾기</a>
    </div>
</div>
</body>
</html>
