<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TimeFlow</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <a href="/" class="logo-link">
                <img src="/static/assets/timeflow_icon_white_header.png" alt="사이트 로고" class="logo">
            </a>
            <button class="login-btn">Login</button>
        </header>
        <main>
            <div class="content">
                <h1 class="main-text-large">쉽고 빠른 협업 플랫폼</h1>
                <h2 class="main-text-medium">TimeFlow</h2>
                <h3 class="main-text-small">Together, Smarter, Faster</h3>

                <div class="button-container">
                    <button class="oval-button">START</button>
                </div>

            <img src="/static/assets/main_icon.png" alt="임의의 그림" class="main-image">
            </div>
        </main>

        <footer>
            <img src="/static/assets/timeflow_icon_white.png" alt="사이트 로고" class="footer-logo">
            <p>
                대표 : 김여정&김우희 | 주소 : 광주광역시 동구 조선대5길 65 IT융합대학 <br>
                사업자등록번호 : 그런거 없졍
            </p>
            <p>
                개인정보 처리방침 | 이용약관 | 사업자 정보 확인
            </p>
        </footer>

    <script src="script.js"></script>
    </body>
</html>
