<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="/css/mypage.css">
    <script src="/js/mypage.js" defer></script>
</head>
<body>
<div class="navigation-bar">
    <div class="top-nav"></div>
    <div class="left-nav">
        <button>My Tasks</button>
        <button>My Team</button>
        <button onclick="redirectToMainPage()">Edit Schedule</button>
        <button>Chat</button>
        <button class="sign-out" onclick="signOut()">Sign out</button>
    </div>
</div>
<div class="profile">
    <h2>User Profile</h2>
    <hr>
    <p class="name">Name: <strong id="displayName">Eojin Kim</strong></p>
    <p class="intro">A short introduction about myself.</p>
    <hr>
    <div class="field">
        <label for="name">Name:</label>
        <input id="name" type="text" disabled>
        <button onclick="enableEdit('name')">Edit</button>
    </div>
    <hr>
    <div class="field">
        <label for="email">Email Address:</label>
        <input id="email" type="text" disabled>
    </div>
    <hr>
    <div class="field">
        <label for="team">Team:</label>
        <input id="team" type="text" disabled>
    </div>
    <hr>
    <div class="field">
        <label for="password">Password:</label>
        <!-- <input id="password" type="password" disabled> -->
        <a href="/user/mypage/newpassword">새 비밀번호 설정</a>
    </div>
    <button class="save-changes-button" onclick="saveChanges()">Save Changes</button>
</div>
</body>
</html>