<!-- newpassword.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>새 비밀번호</title>
    <link href='/css/newpassword.css' rel="stylesheet" />
</head>
<body>
<div class="form-container">
    <div class="find-password-form" id="currentPasswordSection">
        <h2>현재 비밀번호</h2>
        <form id="findpasswordForm">
            <div class="form-group">
                <label for="userpasswd">현재 비밀번호:</label>
                <input type="password" id="userpasswd" name="passwd" required>
            </div>
            <div class="buttons">
                <button type="submit" id="findPasswordButton">확인</button>
            </div>
        </form>
    </div>

    <div id="newPasswordSection" class="new-password-form" style="display: none;">
        <h2>새 비밀번호</h2>
        <form id="newpasswordForm">
            <div class="form-group">
                <label for="newpasswd">새 비밀번호:</label>
                <input type="password" id="newpasswd" name="newpasswd" required>
            </div>
            <div class="form-group">
                <label for="confirmnewpasswd">새 비밀번호 확인:</label>
                <input type="password" id="confirmnewpasswd" name="confirmnewpasswd" required>
                <span id="error-message" class="error-message"></span>
            </div>
            <div class="buttons">
                <button type="submit" id="changePasswordButton">변경</button>
            </div>
        </form>
    </div>
</div>

<div id="popup_message" class="popup"></div>
<div id="popup_overlay" class="popup-overlay" style="display: none;"></div>
<script src="/js/newpassword.js"></script>
</body>
</html>
