<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scheduler</title>
  <link rel="stylesheet" href="/css/scheduler.css">
</head>
<body>
<!-- 로고 아이콘 -->
<div class="logo"></div>

<!-- 상단 현재 날짜 표시 -->
<div class="date-header">
  <!-- 날짜 선택 입력 필드 -->
  <input type="date" id="date-input" onchange="updateCalendarFromInput()" />
  <div class="week-of-text">WEEK OF</div>
  <div id="month" class="MONTH"></div>
  <div id="year" class="year"></div>
</div>

<!-- 달력 -->
<div class="calendar-container">
  <!-- 요일 -->
  <div class="calendar-day">SUN</div>
  <div class="calendar-day">MON</div>
  <div class="calendar-day">TUE</div>
  <div class="calendar-day">WED</div>
  <div class="calendar-day">THU</div>
  <div class="calendar-day">FRI</div>
  <div class="calendar-day">SAT</div>

  <!-- 날짜 -->
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date" data-date=""></div>
  <div class="calendar-date"></div>
  <div class="calendar-date"></div>
  <div class="calendar-date"></div>
  <div class="calendar-date"></div>
  <div class="calendar-date"></div>
  <div class="calendar-date"></div>
  <div class="calendar-date"></div>
  <div class="calendar-date"></div>
  <div class="calendar-date"></div>
</div>

<script src="/js/scheduler.js"></script>

</body>
</html>